/* Styles for the registration page */
body {
    font-family: times new roman, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Remote Healthcare.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-attachment: fixed;
    
    

}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 35px;
    
    
    
      
     
}
input{
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 15px;
    outline: none;
    display: flex;
    width: 300px;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #0f0b0b;


}
h1 {
    text-align: center;
    color: #181616;
}
.button-container {
    text-align: center;
    margin-top: 20px;
    color: #0f0b0b;
    
}
p {
    color: white;
}
    
.button-container input[type="submit"]{
    background-color: #1e5aae;
    height: 30px;
}

