/* Styles for the registration page */
body {
    font-family: times new roman, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 35px;
   background-color: #378ADD;
}
input{
    padding: 5px;
    border: 2px solid #ccc
    border-radius: 15px;
    outline: none;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}
h1 {
    text-align: center;
    color: #fff;
}
.button-container {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    
}
p {
    color: white;
}
    
.button-container input[type="submit"]{
    background-color: #fff;
}


