/* Styles scoping pour la modale d'inscription */

#modal-overlay-register .modal-box {
    max-width: 400px;
    font-family: "Times New Roman", serif;
    background-image: url('Remote Healthcare.jpg');
    background-size: cover;
    background-position: center;
}

#modal-overlay-register input {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 15px;
    outline: none;
}

#modal-overlay-register label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

#modal-overlay-register h1 {
    text-align: center;
    color: #fff;
}

#modal-overlay-register .button-container {
    text-align: center;
    margin-top: 20px;
}

#modal-overlay-register p {
    color: white;
}

#modal-overlay-register .button-container button {
    background-color: #282f6e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}